// @font-face {
// 	font-family: 'Akzidenz Grotesk - bold condenced';
// 	src: url('../fonts/akzidenz_sv/be_bold_condenced/akzidenz-grotesk-be-bold-condensed-webfont.woff2')
// 			format('woff2'),
// 		url('../fonts/akzidenz_sv/be_bold_condenced/akzidenz-grotesk-be-bold-condensed-webfont.woff')
// 			format('woff'),
// 		url('../fonts/akzidenz_sv/be_bold_condenced/akzidenz-grotesk-be-bold-condensed-webfont.ttf')
// 			format('ttf');
// 	font-weight: 700;
// 	font-style: normal;
// }

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ranga&display=swap');

@font-face {
	font-family: 'Ranga-Bold';
	src: url('../../fonts/Ranga-Bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lobster-Regular';
	src: url('../../fonts/Lobster-Regular.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}
