.container-nav {
	display: flex;
	justify-content: flex-end;
	width: 100vw;
}

.nav-list {
	color: $suport-darkgrey-color;
}

ul {
	font-family: 'Ranga';
	font-size: $font-size-m;
}

.buttonout {
  color: $suport-darkgrey-color;
  font-size: $font-size-m;
  font-family: 'Ranga', 'coursive';
  margin-top: -7px;
}

.min-about {
	min-width: 109px;
}