header{
  background-color: black;
  display: flex;
  align-items: center;
  padding: $font-size-xs;
}

.standard-button{
  color: $suport-darkgrey-color;
  border: 1px solid $suport-darkgrey-color;
  font-size: 1.5em;
  padding: 5px 10px;
}